# =========================
# GENERAL
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTHON BACKEND
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
ENV/

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# keep folder structure
!database/.gitkeep

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# CACHE
# =========================
.cache/
.pytest_cache/

# =========================
# TEMP
# =========================
uploads/
temp/
tmp/